/vendor/
/node_modules/
/build/
.env
.env.local
.env.*.local
.phpunit.result.cache
.phpunit.cache/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
coverage/
.php-cs-fixer.cache
